.btn-back {
  display: block;
  cursor: pointer;
}

.canvas {
  width:100%;
  height:100%;
  background-color:black;
}

.content {
  transform: scale(0.3);
  opacity: 0.2;
  transform-origin: top;
  // transition: transform 2s ease-in-out;
  transition-property: transform, opacity;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out;
}

.content.start {
  opacity: 1;
  transform: scale(1);
  width:100%;
  min-height: 100vh;
  background:black;
  padding:40px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: white;

  .highlights-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  p {
    text-align: left;
    line-height: 1.35em;
    font-size: 23px;
    margin-bottom:40px;
  }
}

.location {
  color:lightgreen;
}
