*if user is not loggined in, redirect to login page in app module

<div  *ngIf="!isAuthenticated">You don't have access to this.</div>
isAuthenticated: {{ isAuthenticated }}
<div>
    <div>Logout</div>

    <form
      #f = "ngForm"
      (ngSumbit)="onClick(f)"
      >
      <div class="row">
        <label for="test">json</label>
        <textarea id="test" name="test" type="text" ngModel required></textarea>
      </div>
      <span (click) = "onClick()">Add Bookmark</span>
    </form>
    
    <div>
      <ul *ngFor="let bookmark of bookmarks">
        <li>{{ bookmark.title }} 
          <span class="edit">(Edit)</span>
          <span class="delete">(Delete)</span>
          <span class="delete">(Lock/Unlock)</span>
        </li>
      </ul>
    </div>  
</div>

