.room-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

app-room-item {
  transition: width 2s ease-in-out, height 2s ease-in-out, background-color 2s ease-in-out, transform 1.5s ease-in-out;
  background-color: orange;
  width: 25%;
  height: 25vh;
}

app-room-item.zoom-in {
  transform: scale(20);
}

app-room-item.bg-black {
  background-color: black !important;
}

app-room-item:first-child.active,
app-room-item:nth-child(2).active,
app-room-item:nth-child(3).active,
app-room-item:nth-child(4).active {
  height: 20vh;
}

app-room-item:nth-child(5).active,
app-room-item:nth-child(6).active,
app-room-item:nth-child(7).active,
app-room-item:nth-child(8).active {
  height: 30vh;
}

app-room-item:nth-child(9).active,
app-room-item:nth-child(10).active,
app-room-item:nth-child(11).active,
app-room-item:nth-child(12).active {
  height: 35vh;
}

app-room-item:nth-child(13).active,
app-room-item:nth-child(14).active,
app-room-item:nth-child(15).active,
app-room-item:nth-child(16).active {
  height: 15vh;
}

app-room-item:first-child,
app-room-item:nth-child(2),
app-room-item:nth-child(3),
app-room-item:nth-child(4) {
  height: 25vh;
}

app-room-item:nth-child(5),
app-room-item:nth-child(6),
app-room-item:nth-child(7),
app-room-item:nth-child(8) {
  height: 15vh;
}

app-room-item:nth-child(9),
app-room-item:nth-child(10),
app-room-item:nth-child(11),
app-room-item:nth-child(12) {
  height: 35vh;
}

app-room-item:nth-child(13),
app-room-item:nth-child(14),
app-room-item:nth-child(15),
app-room-item:nth-child(16) {
  height: 25vh;
}


app-room-item:first-child.active {
  background-color:#049A8F;
  width:10%;
}

app-room-item:nth-child(2).active {
  background-color:#023436;
  width:40%;
}

app-room-item:nth-child(3).active {
  background-color:#037971;
  width:20%;
}

app-room-item:nth-child(4).active {
  background-color:#03B5AA;
  width:30%;
}

app-room-item:nth-child(5).active {
  background-color:#009EE2;
  width:10%;
}

app-room-item:nth-child(6).active {
  background-color:#049A8F;
  width:20%;
}

app-room-item:nth-child(7).active {
  background-color:#4bdde2;
  width:30%;
}

app-room-item:nth-child(8).active {
  background-color:rgb(33, 136, 129);
  width:40%;
}

app-room-item:nth-child(9).active {
  background-color:#0e6063;
  width:30%;
}

app-room-item:nth-child(10).active {
  background-color:rgb(3, 181, 77);
  width:40%;
}

app-room-item:nth-child(11).active {
  background-color:rgb(37, 171, 219);
  width:20%;
}

app-room-item:nth-child(12).active {
  background-color:#009EE2;
  width:10%;
}

app-room-item:nth-child(13).active {
  background-color:rgb(30, 194, 126);
  width:30%;
}

app-room-item:nth-child(14).active {
  background-color:rgb(45, 116, 209);
  width:40%;
}

app-room-item:nth-child(15).active {
  background-color:rgb(98, 163, 23);
  width:20%;
}

app-room-item:nth-child(16).active {
  background-color:lightseagreen;
  width:10%;
}


app-room-item:first-child {
  background-color:rgb(50, 91, 182);
  width:40%;
}

app-room-item:nth-child(2) {
  background-color:rgb(185, 39, 75);
  width:30%;
}

app-room-item:nth-child(3) {
  background-color:#037971;
  width:15%;
}

app-room-item:nth-child(4) {
  background-color:lightblue;
  width:15%;
}

app-room-item:nth-child(5) {
  background-color:pink;
  width:30%;
}

app-room-item:nth-child(6) {
  background-color:rgb(153, 43, 43);
  width:10%;
}

app-room-item:nth-child(7) {
  background-color:yellowgreen;
  width:40%;
}

app-room-item:nth-child(8) {
  background-color:rgb(168, 18, 18);
  width:20%;
}

app-room-item:nth-child(9) {
  background-color:rgb(51, 190, 121);
  width:35%;
}

app-room-item:nth-child(10) {
  background-color:purple;
  width:10%;
}

app-room-item:nth-child(11) {
  background-color:rgb(173, 173, 29);
  width:25%;
}

app-room-item:nth-child(12) {
  background-color:red;
  width:30%;
}

app-room-item:nth-child(13) {
  background-color:rgb(73, 165, 73);
  width:10%;
}

app-room-item:nth-child(14) {
  background-color:rgb(251, 255, 0);
  width:20%;
}

app-room-item:nth-child(15) {
  background-color:rgb(55, 123, 224);
  width:60%;
}

app-room-item:nth-child(16) {
  background-color:rgb(43, 184, 184);
  width:10%;
}